{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-fsm-engine-1781326696686", :event/time "2026-06-13T04:58:16.686Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "fsm-engine", :from "review", :to "document", :source "web", :agent "eta-mu", :write-id "1781326696685-0.u4gv7s7olg7ly3659h4", :type "status-change"}, :causal/root "eff7333e-ad66-4860-9f1f-2ea7fc49a9df"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-fsm-engine-1781326696716", :event/time "2026-06-13T04:58:16.716Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "fsm-engine", :from "document", :to "review", :source "web", :agent "eta-mu", :write-id "1781326696716-0.l8njgv0hzfh4492xkci", :type "status-change"}, :causal/root "954185d2-eb48-4aaf-b6fa-4c144e03c127"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-fsm-engine-1781326761011", :event/time "2026-06-13T04:59:21.011Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "fsm-engine", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781326761010-0.4wg2df2thxuwtm6mxq5", :type "status-change"}, :causal/root "c5a87165-9ffd-415a-9c63-0206286ae531"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-fsm-engine-1781326761104", :event/time "2026-06-13T04:59:21.104Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "fsm-engine", :from "document", :to "review", :source "cli", :agent "eta-mu", :write-id "1781326761103-0.7lk4kvxtuw3bhmeasur", :type "status-change"}, :causal/root "d913869a-d115-463b-bad6-20aa4327b961"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-boundary-adapters-1781327918904", :event/time "2026-06-13T05:18:38.904Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-boundary-adapters", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781327918903-0.k4u831006bc055bzaqz", :type "status-change"}, :causal/root "fca89900-eaf1-43ed-9532-3e68f9d290e1"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-architecture-inventory-1781327919007", :event/time "2026-06-13T05:18:39.007Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-architecture-inventory", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781327919006-0.8ilwbujaysfbvase75c", :type "status-change"}, :causal/root "c455c5ef-45f1-48c8-8004-ea70325ff481"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-shadow-spine-1781328283150", :event/time "2026-06-13T05:24:43.150Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-shadow-spine", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781328283149-0.xz10splkqqqfhm241r7", :type "status-change"}, :causal/root "9a70dce2-4353-4d25-afd4-6fee8e15b4f3"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-shadow-spine-1781328283248", :event/time "2026-06-13T05:24:43.248Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-shadow-spine", :from "document", :to "done", :source "cli", :agent "eta-mu", :write-id "1781328283247-0.m2lhxcr17dbrbiy3xzt", :type "status-change"}, :causal/root "e7c822db-5a47-4f61-a1c9-a4f4f946a0e9"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-runtime-core-1781328283342", :event/time "2026-06-13T05:24:43.342Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-runtime-core", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781328283341-0.9s36lh6lweaxxqxqvok", :type "status-change"}, :causal/root "50ef0f48-9a21-4552-8f5e-0f15c20ee0c2"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-runtime-core-1781328283432", :event/time "2026-06-13T05:24:43.432Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-runtime-core", :from "document", :to "done", :source "cli", :agent "eta-mu", :write-id "1781328283431-0.0583vpubmtz5zuhw25y1", :type "status-change"}, :causal/root "b4622a73-5a8d-48d8-acf1-b34516c0f707"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-surface-parity-1781328283526", :event/time "2026-06-13T05:24:43.526Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-surface-parity", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781328283525-0.upktl57e5rkwpgj0bgp", :type "status-change"}, :causal/root "8107e5df-cdf8-44ce-9e8b-7b4da4e1b6f2"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-surface-parity-1781328283627", :event/time "2026-06-13T05:24:43.627Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-surface-parity", :from "document", :to "done", :source "cli", :agent "eta-mu", :write-id "1781328283626-0.n67v2n8vuxshl6y824c", :type "status-change"}, :causal/root "11f516e4-747b-456e-bb89-cc1cf4b60bfb"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-orgs-open-hax-eta-mu-kanban-orgs-open-hax-eta-mu-specs-coverage-workflow-md-1781328283719", :event/time "2026-06-13T05:24:43.719Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "orgs-open-hax-eta-mu-kanban-orgs-open-hax-eta-mu-specs-coverage-workflow-md", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781328283718-0.cwg0zwkfre719m1uc2x", :type "status-change"}, :causal/root "697d71ef-4c39-484b-84a2-9881310aaa28"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-orgs-open-hax-eta-mu-kanban-orgs-open-hax-eta-mu-specs-coverage-workflow-md-1781328283816", :event/time "2026-06-13T05:24:43.816Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "orgs-open-hax-eta-mu-kanban-orgs-open-hax-eta-mu-specs-coverage-workflow-md", :from "document", :to "done", :source "cli", :agent "eta-mu", :write-id "1781328283815-0.9rx95pe2hmht489gaby", :type "status-change"}, :causal/root "e1f63d50-f368-428b-a5be-5a7dfd992a87"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-quality-ratchet-baseline-inventory-1781328283916", :event/time "2026-06-13T05:24:43.916Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-quality-ratchet-baseline-inventory", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781328283915-0.780ngpi32v9m5q20iu", :type "status-change"}, :causal/root "ac0dfe52-e4f3-4e66-8fcd-bf4806a078d7"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-quality-ratchet-baseline-inventory-1781328284010", :event/time "2026-06-13T05:24:44.010Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-quality-ratchet-baseline-inventory", :from "document", :to "done", :source "cli", :agent "eta-mu", :write-id "1781328284009-0.d9pa0x81c06n0rjiuhd", :type "status-change"}, :causal/root "2c6dcce0-df70-442f-9d0b-32564c171d51"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-quality-ratchet-extension-warning-cleanup-1781328799491", :event/time "2026-06-13T05:33:19.491Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-quality-ratchet-extension-warning-cleanup", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781328799489-0.iezdfe2c6jqede0h41", :type "status-change"}, :causal/root "ebbb1fca-6a1b-444b-84ea-56ba27d725c0"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-quality-ratchet-extension-warning-cleanup-1781328799605", :event/time "2026-06-13T05:33:19.605Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-quality-ratchet-extension-warning-cleanup", :from "document", :to "done", :source "cli", :agent "eta-mu", :write-id "1781328799604-0.flzqargn1tn7se7woj5", :type "status-change"}, :causal/root "8e9c156c-5318-4052-9903-c8185ec55223"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-kanban-event-ledger-1781328799706", :event/time "2026-06-13T05:33:19.706Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "kanban-event-ledger", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328799705-0.07ccrmrdk24dnkn5bly9", :type "status-change"}, :causal/root "a82604c8-8d01-4934-82a5-4f19623fdc62"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-fsm-engine-1781328799811", :event/time "2026-06-13T05:33:19.811Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "fsm-engine", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328799810-0.7tpq47x04lfgz23bmqg", :type "status-change"}, :causal/root "ebfd55cb-5f05-417b-a236-2c54bd18c910"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-kanban-cljs-rewrite-1781328799900", :event/time "2026-06-13T05:33:19.900Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "kanban-cljs-rewrite", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328799898-0.5oh0pnv0stv618xmuyf", :type "status-change"}, :causal/root "caea627b-11c4-44f5-91a8-db47bcb59792"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-global-projection-frontend-1781328799998", :event/time "2026-06-13T05:33:19.998Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "global-projection-frontend", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328799997-0.9y9mxvl18r97tj8nzqn", :type "status-change"}, :causal/root "37e92a33-0943-489d-84b3-60fa797e6214"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-board-composition-1781328800091", :event/time "2026-06-13T05:33:20.091Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "board-composition", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328800090-0.r7lwpk1q4sfy56gfwbr", :type "status-change"}, :causal/root "fd3ca413-476e-49e9-adc8-75fe4fff5f33"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-chat-ui-extraction-1781328800183", :event/time "2026-06-13T05:33:20.183Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "chat-ui-extraction", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328800182-0.rco06osvcsk11ui6al", :type "status-change"}, :causal/root "df13e51a-92ca-494c-aa39-ab882ea72458"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-kanban-chat-integration-1781328800276", :event/time "2026-06-13T05:33:20.276Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "kanban-chat-integration", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328800274-0.15d2lmcfjlciki5hm1dq", :type "status-change"}, :causal/root "e5c5371d-5ee9-46dd-a937-99063cae45fd"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-roadmap-global-projection-1781328800371", :event/time "2026-06-13T05:33:20.371Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "roadmap-global-projection", :from "review", :to "todo", :source "cli", :agent "eta-mu", :write-id "1781328800370-0.z0q5suya9l86ga7baaz", :type "status-change"}, :causal/root "663d092d-c961-4aa4-b960-a53244594297"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-cutover-ratchet-1781329289223", :event/time "2026-06-13T05:41:29.223Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-cutover-ratchet", :from "review", :to "document", :source "cli", :agent "eta-mu", :write-id "1781329289222-0.6tflzxwdz65amudx5gj", :type "status-change"}, :causal/root "6c947992-3725-4c41-be71-1802a481b000"}
{:event/type "kanban.status-change", :event/id "orgs-open-hax-eta-mu-kanban-eta-mu-cljs-rewrite-cutover-ratchet-1781329289322", :event/time "2026-06-13T05:41:29.322Z", :session/id "orgs-open-hax-eta-mu-kanban", :delivery/mode "tell", :payload {:task-id "eta-mu-cljs-rewrite-cutover-ratchet", :from "document", :to "done", :source "cli", :agent "eta-mu", :write-id "1781329289320-0.pwjkt6yr1yl8z5x6aem", :type "status-change"}, :causal/root "bd0da1c9-a280-4140-a618-cb0c5b93ee76"}
